.desk{
    display: flex;
    align-items: top center;
    justify-content: center;
    background: url(../../Images/bg-img.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    z-index: -1;
}

.profile-box{
    height: 700px;                                  
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: center;
    display: flex;                                                                                                                  
}

.profile-img{
    position: relative;
    margin-top: 20px;
    margin-right: 20px;
    width: 100px;
    height: 100px;
    justify-content: center;
    border-radius: 50%;
    border: 3px solid;
    border-color: #D9D9D9;
}

.profile-contents{
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 18px;
}

.profile-list{
    list-style: none;
    color: #D9D9D9;
}

a {
    color: #D9D9D9;
    text-decoration: none;
}

.link-list{
    color: #D9D9D9;
    margin-top: 20px;
}

.link-list-item{
    list-style: square;
    color: #D9D9D9;
    margin: 5px;
}

.link-list-item:hover{
    color: #141a30;
    background-color: #f1f1f1;
}

.link-icon-list{
    list-style: none;
    display: flex;
    margin-top: 20px;
}

.icon-wrapper{
    position: relative;
    width: 30px;
    height: 30px;
    font-size: 30px;
    cursor: pointer;
    color: #D9D9D9;
    z-index: 5;
    margin-right: 15px;
    align-items: center;
    justify-content: center;
}

.icon-wrapper:hover{
    color: #141a30;
    background-color: #f1f1f1;
}

.icon-wrapper:hover:after,
.icon-wrapper:hover:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 3px;
    border-color: transparent;
    background: linear-gradient(45deg, #00202e, #003f5c, #2c4875, #8a508f, #bc5090, #ff6361, #ff8531, #ffa600, #ffd380,
    #ffa600, #ff6361, #bc5090, #8a508f, #2c4875, #003f5c, #00202e);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 30s linear infinite;
}

.icon-wrapper:after {
	filter: blur(5px);
}

.icon-img{
    width: 30px;
    height: 30px;
}

@keyframes steam {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}