.top-bar{
    width: 100%;
    height: 80px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 50;
}

.top{
    display: flex;
    align-items: center;
    opacity: 0.2;
}

.top:hover{
    opacity: 1;
}

hr {
  border: 0;
  clear: both;
  display: block;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

.stream {
  background: rgba(255, 255, 255, 1);
  height: 5px;
  overflow: hidden;
  position: relative;
}

.stream::before {
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-name: stream;
  background: linear-gradient(120deg, rgba(255, 166, 0, 0), rgba(255, 166, 0, 0.25), rgba(255, 166, 0, 0.5), rgba(255, 166, 0, 0.75), rgba(255, 166, 0, 1), 
  rgba(255, 166, 0, 0.75), rgba(255, 166, 0, 0.5), rgba(255, 166, 0, 0.25), rgba(255, 166, 0, 0));
  content: "";
  display: block;
  height: 5px;
  position: absolute;
  width: 300px;
}

@keyframes stream {
  0% {
    transform: translateX(calc(0vw - 150px));
  }
  100% {
    transform: translateX(100vw);
  }
}

.top-left,.top-right{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 700;
    font-size : 32px;
}

.top-center{
    flex: 6px;
    background-color: white;
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-size : 18px;
}

.top-list{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.top-list-item{
    margin-left: 30px;
    margin-right: 30px;
    padding: 5px;
    font-weight: 300;
    cursor: pointer;
    position: relative;
    display: block;
    z-index: 1;
    text-decoration: none;
    color: #161616;
}

.top-list-item:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid #161616;
    border-bottom: 2px solid #161616;
    transform: scaleY(2);
    opacity: 0;
    transition: 0.3s;
}

.top-list-item:after{
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #161616;
    transform: scale(0);
    opacity: 0;
    transition: 0.3s;
    z-index: -1;
}

.top-list-item:hover{
    color: #D9D9D9;  
}

.top-list-item:hover:before{
    transform: scaleY(1);
    opacity: 1;
}

.top-list-item:hover:after{
    transform: scaleY(1);
    opacity: 1;
}

.top-search-icon{
    width: 18px;
    color: #161616;
    cursor: pointer;
    margin-left: 15px;
    transition: transform 0.2s;
}

.top-search-icon:hover{
    transform: scale(1.2);
    color: #000;
}