blockquote { 
    font-style: italic; 
    border-left: 5px solid; 
    margin-left: 2em; 
    padding-left: 1em; 
    border-color: #bababa; 
    color: #656565; 
}

thead th, tfoot th { 
    padding: .25em .25em .25em .4em; 
    text-transform: uppercase; 
}

thead { 
    background-color: #dadada; 
}

code,
.md-fences {
	background-color: #dadada;
}

code {
	padding-left: 2px;
	padding-right: 2px;
}

.md-fences {
	margin-left: 2em;
	margin-bottom: 3em;
	padding-left: 1ch;
	padding-right: 1ch;
}

pre,
code,
tt {
	font-size: .875em;
	line-height: 1.714285em;
}

.md-toc:focus .md-toc-content{
	margin-top: 19px;
}

.md-toc-content:empty:before{
	color: #065588;
}

.md-toc-item {
	color: #065588;
}

#write div.md-toc-tooltip {
	background-color: #f3f2ee;
}