.page-list-controller{
    position: sticky;
    top: 85px;
    background-color: white;
    grid-row: 1;
    grid-column : 2;
    align-items: center;
    justify-items: center;
    height: 40px;
    z-index: 15;
    opacity: 0.2;
    display: flex;
}

.page-list-controller:hover{
    opacity: 1;
}

#shelf-toggle-button-id{
    margin-top: 10px;
    margin-left: -10px;
}

#shelf-icon-id{
    width: 30px;
    height: 30px;
}

.page-list-controller-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.page-navigator{
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-left: 1%;
    margin-right: 1%;
    width: 100px;
    height: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    line-height: 30px; 
    text-align: center;
}

input[name=designated-num]{
    width: 50px;
    height: 20px;
    float: left;
    text-align: center;
    border: none;
    border-radius: 10px;
    font-family: 'Josefin Sans', sans-serif;
    color: #f1f1f1;
    background-color: #141a30;
}

.division{
    border-left: 2px solid #141a30;
    height: 14px;
    width: 2px;
};

.page-bound {
    display: inline-block;
    min-width: 3.5em; /* Adjust as needed for your max number length */
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
    padding-left: 0.2em;
    font-size: 16px;
    text-align: left;
}

#page-list-controller-icon-id{
    width: 30px;
    height: 30px;
}

.icon-wrapper-active{
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: #2f3f4f;
    border-radius: 3px;
    background-color: #f4f5f7;
}

.icon-wrapper-active:hover{
    /* background: #141a30; */
    background: #f4f5f7;
    color: #f1f1f1
}

.icon-wrapper-active:hover:after,
.icon-wrapper-active:hover:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 3px;
    border-color: transparent;
    background: linear-gradient(45deg, #00202e, #003f5c, #2c4875, #8a508f, #bc5090, #ff6361, #ff8531, #ffa600, #ffd380,
    #ffa600, #ff6361, #bc5090, #8a508f, #2c4875, #003f5c, #00202e);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 30s linear infinite;
}

.icon-wrapper-active:after {
	filter: blur(5px);
}

.icon-wrapper-inactive{
    margin-left: 5%;
    margin-right: 5%;
    width: 30px;
    height: 30px;
    color: #2f3f4f;
    border-radius: 3px;
    background-color: #f4f5f7;
    opacity: 0.4;
    transition: none; /* disables hover animation */
}

@keyframes steam {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}
