.note-pages{
    margin: 20px;
    padding: 5px;
    background-color: #ffffff;
    grid-row: 2;
    grid-column : 2;
    display: inline-grid;
    grid-template-columns: 10% 90%;
    height: 1em;
    z-index: 5;
}

.page-number-list{
    margin-top: 10px;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    list-style: none;
    margin: 0px 5px 0px 0px;
}

.page-number-list-title{
    padding: 5px;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px 0px 5px 0px;
    list-style: none;
    color:#ffffff;
    background: url(../../Images/bg-img.jpg);
    background-repeat: no-repeat;   
    background-clip: border-box;
    background-position: left; 
    border: 1px solid;
    border-radius: 3px;
}

#page-number-list-item-id{
    position: relative;
    padding: 5px;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px 0px 5px 0px;
    border-bottom: 1px solid #0C0C0C;
    text-overflow: ellipsis;
    border-radius: 3px;
}

.page-name-list{
    margin: 0px 0px 5px 0px;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    list-style: none;
}

.page-name-list-title{
    padding: 5px;
    margin: 0px 0px 5px 0px;
    font-family: 'Josefin Sans', sans-serif;
    list-style: none;
    color:#ffffff;
    background: url(../../Images/bg-img.jpg);
    background-repeat: no-repeat;   
    background-clip: border-box; 
    background-position: left;
    border: 1px solid;
    border-radius: 3px;
}

#page-name-list-item-id{
    position: relative;
    padding: 5px;
    margin: 0px 0px 5px 0px;
    font-family: 'Josefin Sans', sans-serif;
    border-bottom: 1px solid #141a30;
    border-radius: 3px;
}

.page-selected{
    cursor: default;
    position: relative;
    overflow: hidden;
    background-color: #141a30;
    color: #ffffff;
    border: 1px solid #141a30;
}

.page-enable{
    background: #141a30;
    border-style: hidden;
    color:rgb(255, 255, 255, 1);
    cursor: pointer;
}       

.page-enable::after,
.page-enable::before {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    border-radius: 3px;
    border-color: transparent;
    background: linear-gradient(45deg, #00202e, #003f5c, #2c4875, #8a508f, #bc5090, #ff6361, #ff8531, #ffa600, #ffd380,
    #ffa600, #ff6361, #bc5090, #8a508f, #2c4875, #003f5c, #00202e);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 30s linear infinite;
}

.page-enable:after {
	filter: blur(10px);
}

.page-disable{
    cursor: default;
    position: relative;
    overflow: hidden;
    background-color: #E0E0E0;
}

.pageListToggleButton{
    position: fixed;
    top: 60px;
    visibility: visible;
    z-index: 99;
    right: 5%
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes steam {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}
